asn1crypto==1.4.0
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
cffi==1.14.4
click==7.1.2
colorama==0.4.4
configparser==4.0.2
cryptography==3.2.1
Flask==1.1.2
idna==2.6
importlib-metadata==3.4.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.19.5
oci==2.28.0
packaging==20.9
pandas==1.2.0
pluggy==0.13.1
py==1.10.0
py4j==0.10.9
pyarrow==2.0.0
pycparser==2.20
PyJWT==1.5.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyspark==3.0.1
pyspark-stubs==3.0.0.post1
pytest==6.2.2
python-dateutil==2.8.1
pytz==2016.10
six==1.11.0
toml==0.10.2
typing-extensions==3.7.4.3
Werkzeug==1.0.1
zipp==3.4.0
